@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600&family=Playfair+Display&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.bac-img {
  background-image: url(./images/background-img.png);
}
.first-cont {
  max-width: 1200px;
  margin: 0 auto;
}

/* здесь начинается навигация */
header {
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1215px;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  padding: 0;
}

.logo {
  display: flex;
}

.logo-right {
  margin-left: 100px;
}

.logo h4 {
  margin: auto 0;
  padding-left: 10px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: white;
}

nav ul {
  display: flex;
}

li a {
  margin-right: 70px;
  color: white;
  text-decoration: none;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}

/* здесь заканчивается навигация */

/* здесь начинается стилизация первых содержимыз сайта */

.big-container {
  padding-top: 100px;
}

.first-big-container {
  display: flex;
  justify-content: space-around;
  /* max-width: 1200px;
  margin: 0 auto; */
}

.container-welcome {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
}

.container-welcome {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
}
#welcom {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;

  color: white;
}

#pop {
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  margin-bottom: 30px;
  padding-right: 5px;
  color: white;
}

.here-you-will {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;

  max-width: 400px;

  color: rgb(11, 63, 11);
}

.the-first-link {
  margin-top: 50px;
}

.first-link-with-a-frame {
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  color: rgb(11, 63, 11);

  text-decoration: none;
  padding: 10px 25px;

  margin-right: 25px;
}

.transparent-link {
  color: rgb(11, 63, 11);
  font-family: Google Sans;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}

/* здeсь начинается второй  контайнер в котором есть изображении*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-images {
  background-color: white;
  height: 554px;
  width: 569px;
  left: 821px;
  top: 173px;
  border-radius: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.big-img-container {
  display: flex;
}

.span-container {
  margin-top: 100px;
}

#img1 {
  padding-top: 80px;
  padding-right: 30px;
}

#new-lot {
  color: white;

  border: 1px solid #8a93e6;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  background: #8a93e6;
  border-radius: 0px 8px 8px 0px;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding: 10px 20px;
}

#line {
  width: 100px;
  height: 1px;

  background-color: darkgrey;
  margin: 0 auto;
  margin-top: 50px;
}

.line-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.bottom-of-the-line {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  color: rgba(51, 51, 51, 0.8);
  padding-top: 20px;
}

.strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  color: black;
}

.circle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-top: 15px;
}

.first-circle {
  height: 15px;
  width: 15px;
  background-color: blueviolet;
  border-radius: 50%;

  margin-left: 10px;
}

.second-circle {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;

  margin-left: 10px;
}

.second-circle.third {
  margin-right: 10px;
}

.mini-mouse {
  display: flex;
  justify-content: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.mini-mouse-1 {
  margin-left: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* здесь начинаються стилизация 2ой страницы сайта */

.all-product {
  background-color: white;
  padding-top: 50px;
}

.second-big-container {
  max-width: 1200px;
  margin: 0 auto;
}

.all-product-big-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.all-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-product-container h1 {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.all-product-container span {
  height: 4px;
  width: 70px;
  background-color: darkgrey;
  margin: 0 auto;

  margin-top: 20px;
  margin-left: 70px;
}

.filter {
  display: flex;
  padding-top: 50px;
}

.filter p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: darkgrey;
}

.filter strong {
  color: black;
}
.first-filter {
  margin-left: 50px;
  margin-right: 100px;
}

/* здесь начинается стилизации кард */

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;

  padding-top: 50px;
  padding-bottom: 100px;
}

.mini-card-conainer {
  display: flex;
  flex-direction: column;
}

.first-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: 20%;

  border: 1px solid rgba(240, 232, 232, 0.8);
  box-shadow: 0 0 10px rgba(240, 232, 232, 0.8);
  border-radius: 30px;
  background-color: white;

  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.first-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.first-card span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  padding-bottom: 20px;
}

.card-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  border: 1px solid darkgrey;
  border-radius: 8px;

  color: white;
  background-color: blue;

  padding: 5px 20px;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  box-shadow: 0px 10px 25px rgba(112, 184, 251, 0.45);
  border-radius: 18px;
}

.card-button::after {
  border: 1px solid darkgrey;
  border-radius: 8px;

  color: blue;
  background-color: white;
}

.second-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: 20%;

  border: 1px solid rgba(240, 232, 232, 0.8);
  box-shadow: 0 0 10px rgba(240, 232, 232, 0.8);
  border-radius: 30px;
  background-color: white;

  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.second-card img,
.first-card img {
  padding-top: 20px;
}

.second-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.second-card span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  padding-bottom: 20px;
}

.card-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  border-radius: 18px;
  border: 1px solid #75cceb;

  color: #75cceb;

  padding: 5px 20px;
}

.first-card strong,
.second-card strong {
  font-family: "Roboto", sans-serif;
}

/* здесь начинается стилизация 3 страницы сайта */

.third-container {
  background-image: url(./images/background-img.png);
  padding-top: 90px;
}

.third-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.best-price h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;

  color: #31546d;
  padding: 0;
}

.best-price h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  color: #31546d;
}

.mini-container {
  display: flex;
  align-items: baseline;
}

.best-price span {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;

  color: blue;
  font-family: "Roboto", sans-serif;
}

.mini-container del {
  padding-bottom: 50px;
}

.best-price span strong {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: right;

  color: tomato;
}

.best-price p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  max-width: 400px;
  text-align: right;

  margin-left: 200px;
  padding-bottom: 30px;
  color: #31546d;
}

.buy a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  border-radius: 18px;
  background-color: blanchedalmond;
  border: 1px solid blanchedalmond;

  color: #75cceb;
  padding: 10px 20px;
}

.fouth-container {
  padding-top: 50px;
}

.fouth-container img {
  margin-bottom: 50px;
}

.mini-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer div {
  height: 150px;
  background: #0a294d 80%;
}

a:hover {
  background-color: #6fb4ff;
  color: white;
}

li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  header {
    padding-left: 30px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
  }

  nav ul {
    display: flex;
    align-items: center;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .logo-right {
    display: none;
  }
  li a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  li a:first-child() {
    margin-right: 0px;
    padding-right: 0px;
  }
  .big-container {
    padding-top: 0px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1190px) {
  header {
    margin: 0px auto;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }

  nav ul {
    display: flex;
    align-items: center;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .logo-right {
    display: none;
  }
  li a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  li a:first-child() {
    margin-right: 0px;
    padding-right: 0px;
  }
  .big-container {
    padding-top: 0px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 960px) {
  header {
    padding-left: 30px;
  }
  .bac-img {
    background-image: none;
    background-color: #6fb4ff;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    padding: 30px;
  }

  .first-cont {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
  }

  .container-welcome {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .here-you-will {
    text-align: center;
  }
  .big-container {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .first-big-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 50%;
    max-width: 100%;
  }

  .column {
    padding-top: 30px;
    padding-right: 10px;
    width: 200px;
  }
  .big-images {
    width: 300px;
    height: 280px;
    padding-bottom: 50px;
  }
  .big-img-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background-color: none;
    height: 400px;
  }
  .here-you-will {
    padding-bottom: 0;
  }

  .line-container {
    display: none;
  }

  .circle-container {
    display: none;
  }

  #img1 {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
  }
  .span-container {
    display: none;
  }

  .all-product-container {
    display: flex;
    flex-direction: column;
    align-content: center;

    margin: 0 auto;
  }

  .filter {
    display: flex;
    justify-content: space-evenly;
  }

  .first-card {
    text-align: center;
  }
  .second-card {
    text-align: center;
  }

  .first-card strong,
  .second-card strong {
    font-family: "Roboto", sans-serif;
  }

  .third-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    text-align: center;
  }

  .best-price {
    text-align: center;
  }

  .mini-container {
    display: flex;
    justify-content: center;
  }

  .best-price p {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column;
    align-items: center;
  }
}
