@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 10000px;
  margin: 0;

  font-family: "Roboto", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* здесь начинается навигация */
header {
  background-color: rgb(5, 252, 219);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 0 auto;
    max-width: 1200px;
  }

  ul li {
    display: inline-block;
  }

  .logo {
    display: flex;
  }

  .logo-right {
    margin-left: 100px;
  }

  
.logo h4 {
    margin: auto 0;
  
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
  }